:root {
  --text: #ff84a9;
  --text-h: #f3f4f6;
  --bg: linear-gradient(to right, rgb(0, 0, 0), rgb(17, 10, 17), rgb(27, 25, 27));
  --border: #2e303a;
  --code-bg: #1f2028;
  --accent: #c084fc;
  --accent-bg: rgba(192, 132, 252, 0.15);
  --accent-border: rgba(192, 132, 252, 0.5);
  --social-bg: rgba(47, 48, 58, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  /*--heading: system-ui, 'Segoe UI', Roboto, sans-serif;*/
  --heading: "Poppins";
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("/src/assets/fonts/Poppins.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins-ExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Poppins";
  src: url(/src/assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: "BitcountGridDouble";
  src: url("/src/assets/fonts/BitcountGridDouble.ttf") format("truetype");
}

@font-face {
  font-family: "Orbitron";
  src: url("/src/assets/fonts/Orbitron.ttf");
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}
*/
body {
  margin: 0;
  background-color: rgb(32, 32, 32);
  background-image:
    linear-gradient(-45deg, black 25%, transparent 50%, transparent 75%, black 75%, black),
    linear-gradient(-45deg, black 25%, transparent 25%, transparent 75%, black 75%, black),
    linear-gradient(to bottom, rgb(8, 8, 8), rgb(32, 32, 32));
  background-size: 50px 40px, 50px 40px, 100px 3px;
  background-position: 0px 0px, 50px 50px, 0px 0px;
}

#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

a {
  font-family: var(--heading);
  color: var(--text-h);
  font-weight: 200;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
  font-family: var(--heading);
  font-weight: 300;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}